@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Colores */
    --White: rgb(255, 255, 255);
    --Light-pink: rgb(249, 240, 255);
    --Grayish-purple: rgb(140, 105, 145);
    --Dark-purple: rgb(47, 21, 51);

    /* tipografia */
    --font-family: 'Work Sans', sans-serif;

    --Weigh-Semi-Bold: 600;
    --Weigh-Bold: 700;
}

/* Reset basico */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    background-color: var(--Light-pink);
}
hr {
    border-style: inset;
    border-width: 0.5px;
    border-color: rgba(249, 240, 255, 0.1);
}
main {
    min-block-size: 64.45vh;
    background-color: var(--Light-pink);
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    position: relative;
}
/* Cabecera principal */
.header__principal {
    background-image: url('../assets/images/background-pattern-desktop.svg');
    block-size: 35.55vh;
    background-size: cover;
}
/* Contenedor de las preguntas */
.content-cuestions {
    position: absolute;
    top: -27.77%;
    background-color: var(--White);
    list-style-type: none;
    padding: 2.5rem;
    border-radius: 1.125rem;
    max-inline-size: 37.5rem;
    color: var(--Dark-purple);
}
.content_item {
    padding: 1.75rem 0 1.75rem 0;
}
.content_item-padding {
    padding-block-end: 0;
}
/* caracteristicas individuales */
.titulo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0 0 0.375rem 0;
    font-size: 3.5rem;
    font-weight: var(--Weigh-Bold);
}
.pregunta-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 1.25rem;
}
.pointer {
    cursor: pointer;
}
.pregunta-font {
    font-size: 1.125rem;
    font-weight: var(--Weigh-Semi-Bold);
}
.pregunta-font:hover {
    color: rgba(173, 42, 232);
}
.respuesta-font {
    line-height: 150%;
    color: var(--Grayish-purple);
}
.respuesta-padding {
    margin: 2rem 0 0 0;
}
.respuesta-1-none {
    display: none;
}
.respuesta-2 {
    display: none;
}
.respuesta-3 {
    display: none;
}
.respuesta-4 {
    display: none;
}
.visible {
    display: block;
}
